.login-page{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal{
    border: 1px #dadce0 solid;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-buttonGroup{
    display: flex;
    flex-direction: row-reverse;
}