.product-table{
    border-collapse: collapse;
    padding: 6px;
    margin: 18px;
}

.product-table .table-header th{
    padding: 6px 18px;
}
.product-table th{
    border-bottom: 1px solid black;
    padding: 6px;
}
.product-table tr:hover{
    background-color: coral;
    cursor: pointer;
}
.inputField{
    display: flex;
}