.header-bar .list-tabs{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    max-width: 1264px;
    margin: 15px auto;
}

.list-tabs .tab{
    text-decoration: none;
    border-radius: 1000px;
    padding: 6px 12px;
    color: hsl(210,8%,25%);
}

.list-tabs .tab:hover{
    background-color: hsl(210,8%,90%);
}
